<section>
  <div class="login-content">
    <span class="logo-content">
      <img src="../../../assets/images/login/logo-stock-box.png" alt="Logo" />
    </span>
    <div class="title-section">
      <h1>Bem-vindo de volta!</h1>
      <p>Faça login para acessar sua conta</p>
    </div>

    <div class="login-form-content">
      <div class="social-login">
        <app-button
          [iconSrc]="googleIcon"
          [style]="'outline'"
          [label]="'Entrar com o Google'"
          [size]="'md'"
          class="google-button"
        ></app-button>
        <app-button
          [iconSrc]="facebookIcon"
          [style]="'outline'"
          [label]="'Entrar com o Facebook'"
          [size]="'md'"
          class="facebook-button"
        ></app-button>
      </div>

      <div class="divisor">
        <span></span>
        <p>ou</p>
        <span></span>
      </div>

      <form>
        <div class="input-group">
          <label>E-mail</label>
          <app-input
            [placeholder]="'Digite seu @email'"
            [type]="'email'"
          ></app-input>
        </div>

        <div class="input-group">
          <label>Senha</label>
          <div class="pass-group">
            <app-input
              [type]="hidePassword ? 'password' : 'text'"
              [placeholder]="'Senha'"
              [icon]="'eye-off'"
            ></app-input>

            <span class="icon-content" (click)="tooglePassword()">
              <app-icon
                class="icon"
                [icon]="hidePassword ? 'eye' : 'eye-off'"
                [size]="'sm'"
                [color]="'primary'"
              ></app-icon>
            </span>
          </div>
        </div>

        <div class="password-control">
          <div class="accept-terms-link">
            <app-checkbox name="terms" [(ngModel)]="isChecked"></app-checkbox>
            <label>Aceitar <a href="#">Termos e Privacidade</a> </label>
          </div>

          <div>
            <a href="#">Esqueceu a senha ?</a>
          </div>
        </div>

        <div class="login-group">
          <app-button (click)="onSignIn()" [label]="'Entrar'"></app-button>

          <p>
            Ainda não possui uma conta ?
            <span (click)="onRegister()">Criar</span>
          </p>
        </div>
      </form>
    </div>
  </div>

  <div class="wrapper-apresentation">
    <div class="apresentation-content">
      <h1>
        Simplificando o gerenciamento <br />
        do seu estoque
      </h1>
      <p>
        Cuidar do estoque não precisa ser um desafio. A gente te ajuda a manter
        tudo no lugar, com facilidade.
      </p>

      <div class="animated-container">
        <div #svgContainer class="svg-container"></div>
      </div>
    </div>
  </div>
</section>
