@import "fontSize";
@import "variables";
@import "theme";
@import "spacing";

section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  padding: $spacing-lg;

  .register-content {
    width: 50%;
    padding: $spacing-lg $spacing-giant;
    display: flex;
    flex-direction: column;

    .logo-content {
      margin-bottom: 1rem;
      > img {
        width: 10%;
      }

      @media screen and (max-width: 1024px) {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .title-section {
      h1 {
        font-size: $font-size-xlg;
        font-weight: normal;
        margin-bottom: 1rem;
      }

      @media screen and (max-width: 1024px) {
        text-align: center;
      }
    }

    @media screen and (max-width: 1024px) {
      width: 100%;
      justify-content: center;
      align-items: center;
    }

    @media screen and (max-width: 1024px) {
      padding: $spacing-lg;
    }
  }

  .login-form-content {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .social-login {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 20px;
      margin-top: 3rem;

      img {
        width: 25px;
        height: 25px;
      }

      @media screen and (max-width: 1024px) {
        justify-content: center;
      }
    }

    .google-button,
    .facebook-button {
      width: 285px !important;
      font-size: 11px !important;
    }

    .divisor {
      display: flex;
      align-items: center;
      margin-top: 3rem;
      width: 100%;

      span {
        width: 100%;
        border: 1px solid $off-color;
      }

      > p {
        padding: 0 10px;
        color: #ccc;
      }

      @media screen and (max-width: 1024px) {
        margin-left: 2.8rem;
      }
    }

    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }

  .wrapper-apresentation {
    width: 50%;
    background-color: $primary-color;
    border-radius: $spacing-lg;

    .apresentation-content {
      padding: $spacing-giant;

      h1 {
        font-size: $font-size-huge;
        font-weight: normal;
        color: $white;
      }

      p {
        color: $white;
        margin-top: 1rem;
      }
    }

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }

  .animated-container {
    width: 90%;
    height: 600px;
  }

  form {
    width: 100%;
    height: 100%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;

    .name-group {
      width: 100%;
      display: flex;
      gap: 20px;
    }

    .input-group {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 100%;

      label {
        margin-left: 10px;
      }

      .pass-group {
        position: relative;
        height: 100%;
      }
    }

    .password-control {
      width: 100%;
      display: flex;
      justify-content: space-between;

      a {
        text-decoration: none;
        font-weight: 500;
        color: $primary-color;
      }

      .accept-terms-link {
        display: flex;
        align-items: center;
      }
    }

    .register-group {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      > p {
        margin-top: 3rem;

        > span {
          font-weight: 600;
          color: $primary-color;
          cursor: pointer;
        }
      }
    }

    .icon-content {
      position: absolute;
      right: 20px;
      top: 18px;
      cursor: pointer;
    }
  }
}
