@import "fontSize";
@import "variables";
@import "theme";
@import "spacing";

.checkbox-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 0.5rem;

  input:disabled + .custom-checkbox {
    background-color: transparent;
    cursor: not-allowed;
  }

  .custom-checkbox {
    width: 18px;
    height: 18px;
    border: 2px solid #cccc;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    transition: all 0.2s ease;

    &.checked {
      background-color: $primary-color;
      border-color: $primary-color;

      &::after {
        content: "";
        position: absolute;
        left: 4px;
        top: 0px;
        width: 4px;
        height: 9px;
        border: solid $white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  .checkbox-label {
    font-size: 14px;
    color: #cccc;
  }
}
